[2020-12-23 17:31] CV514 opened #5 "Сircular dependency in nocts_cata_mod_BN"
[code]

https://github.com/Noctifer-de-Mortem/nocts_cata_mod/tree/master/nocts_cata_mod_BN

Loading BN and only Cataclysm++ in the mod list. Random character generation in newly created world. It abrupt chargen and returns to the main menu.

It seems like there should be no Legacy.json file at all; perhaps wrong mod package (for DDA, not BN)?
Removing folder from current mod pack and replacing it

[2020-12-23 23:23] Kenan2000 commented on #5
@CV514 just uploaded the fix for Cata++ https://github.com/Kenan2000/Bright-Nights-Kenan-Mod-Pack/commit/4b9a610f459f744096ea45f441d5f281554e171e , tell me if it fixes this :-)

[2020-12-24 04:13] CV514 commented on #5
Nice, everything seems to be working fine, thank you.

[2020-12-24 04:13] #5 closed

[2020-12-25 07:36] CV514 opened #6 "Missing item definition: taurus38mag in Modern Weapons Pack Expanded (and couple of other minor issues)"
[code]

I am confused but it seems like taurus38mag is just not in the game anymore, therefore AutoMag from that mod is sad and throwing some errors.

I see two possible solutions: define that mag once again, or go with the flow and remove `[ "38", [ "taurus38mag" ] ]`  and .38 ammo compatibility for AutoMag completely in `modern_handgun.json`.
I've tried to bandage problem completely by replace m

[2020-12-25 09:42] Kenan2000 commented on #6
@CV514 Hello there, I've just uploaded another big fix/tweak update that hopefully resolves the Modern Weapon Pack Expanded error that you're experiencing - I've removed the taurus magazine and renamed some 357_mag to 357mag so that it would actually correspond to the existing vanilla ammo_type, it contains lots of other misc tweaks and fixes as well, cheers :-) https://github.com/Kenan2000/Bright

[2020-12-25 10:31] CV514 commented on #6
Yep, should be it! Thank you for the tweaks 👍

But with removal of magazine with .38 caliber you should remove ammo type ".38" in ammo array at line 77 in `modern_handgun.json`, otherwise it produces this error:

[code]

And I've mashed in some other mods from this modpack (I'm using like 90% of them atm), so I'll rename this Issue to represent them as well.

***

Issue after installing `cataclysm

[2021-01-09 06:14] CV514 opened #7 "Missing uncraft check for turret(s) in Modular Turrets mod"
It seems like it's missing necessary section for disassemble .50 turrets, but at the same time it has one?

`uncraft_corpse.json` has the following
[code]

But some turrets that are destroyed left behind not `broken_milturret_50bmg`, but `broken_turret_bmg`, which is virtually the same thing and I don't get it. Perhaps this should be looked into and there may be other turrets with that kind of beh

[2021-01-09 12:35] Kenan2000 commented on #7
@CV514 Thanks for these, just published these 2 commits thanks to your great assistance, indeed, you are right - some of the parts were missing uncraft recipes but now thanks to some extensive Notepad++'s search and comparison, all the parts have their respective recipes now, nothing is missing, all of this thanks to your awesome help :-) https://github.com/Kenan2000/Bright-Nights-Kenan-Mod-Pack/c

[2021-01-12 11:38] CV514 commented on #7
Everything seems to be working fine so far, thank you.
Although I'll remind you to also add those changes into CDDA-BN modpack since I'm exclusively play with that one and posting stuff about it, not CDDA one. In this case it seems like there is no major difference between mods, so it's fine.

Also an little suggestion, adding a little more info about difference between `modular_turrets` and `modu

[2021-01-12 11:38] #7 closed

[2021-01-12 12:48] Kenan2000 commented on #7
@CV514 Oh I'm an idiot, my bad, I've sent you the wrong commit - https://github.com/Kenan2000/Bright-Nights-Kenan-Mod-Pack/commit/eb8593967f935028dc6c123cee90d58d0c85c6e4 , this one is for Bright Nights :-)

By the way, thank you for all the work that you're doing and supporting me, I would like you to join our Cataclysm Modding Community server, I am most active there as well as other modders and

[2021-01-12 14:23] CV514 commented on #6
Closing since latest necessary change is in PR https://github.com/Kenan2000/Bright-Nights-Kenan-Mod-Pack/pull/8

[2021-01-12 14:23] #6 closed

[2021-01-12 14:51] CV514 commented on #7
I've found it later in commits, no problem!
I'll hop in into server, but a few weeks later - for now I'm in working position that's not suitable for regular online presence (that's why I'm sticking with Cataclysm too)

[2021-01-15 19:56] CV514 opened #10 "Automations mod problems"
[code]

Mod dependencies are defined as:
`"dependencies": [ "dda", "aftershock", "modular_turrets_no_blacklist", "Salvaged_Robots" ]`

So, I've looked into `bot_utilibot_base` and it seems like this is not some defined item, but an abstract for other bots in Salvaged Robots mod. Both `items.json` and `recipe.json` define it not as "id", but as "abstract", and because this is an abstract object, it

[2021-01-15 20:16] Kenan2000 commented on #10
I honestly wish I could delete this mod altogether since I'm literally unaware how to handle this issue, I mostly try to maintain what I'm good at, in this case, this problem is too convoluted for me to tackle it, I'm still working on fixing CDDA Modpack - plenty of errors to handle, then continuing to work on BL9 expansion as well, so no idea /:

[2021-01-15 23:43] CV514 commented on #10
No problem then, I'll look into it and try to assemble some PR to incorporate its functions into Salvage Robots. Perhaps some time next week.

[2021-01-18 06:32] CV514 commented on #10
Resolved as from 538fd0cd599771225e345a54ad7f056a4978351b (functionality update) and 603464b7d4ee27430b84f3625cc4644f4510fb53 (removal of Automations mod)

[2021-01-18 06:32] #10 closed

[2021-01-23 15:14] CV514 opened #13 "Expansion_Tefnut has duplicate folder of itself"
It's in `/Expansion_Tefnut/expansion_tefnut/`
Which produces

`src/mod_manager.cpp:216 [void mod_manager::load_modfile(const JsonObject&, const string&)] there is already a mod with ident expansion_tefnut`

Seems like folder inside of folder has more recent changes, should be double-checked just in case of what to remove.

[2021-01-25 00:07] Kenan2000 commented on #13
I believe that this fixes it https://github.com/Kenan2000/Bright-Nights-Kenan-Mod-Pack/commit/68bca0d176c4876c34b981b061c2570a85b7b7af , thank you for noticing this error, @CV514 , truly appreciate it :-)

[2021-01-25 00:07] #13 closed

[2021-01-26 03:13] fire78 opened #15 "issue with graphical overmap mod"
![image](https://user-images.githubusercontent.com/73866728/105795097-438de480-5f5a-11eb-9198-64bca9d8a2b3.png)

this happens every time i try to play i followed the read me and I don't no why this is happening

[2021-01-26 19:03] CV514 opened #16 "JSON duplicate comment keys rework"
According to https://github.com/CleverRaven/Cataclysm-DDA/blob/master/doc/JSON_INFO.md

If we want multiple comments in a single object then append a number to //. For example:

[code]

And since https://github.com/CleverRaven/Cataclysm-DDA/pull/40390 (BN: https://github.com/cataclysmbnteam/Cataclysm-BN/pull/324)

We're in the works of fixin'! Yay

For examle, Secronom:

[code]

I'm opening this u

[2021-01-26 19:06] CV514 commented on #15
Can't reproduce. Are you sure you're using Cataclysm Bright Nights? It comes in mind since there is no trailhead_shack_z0 in stable release of CDDA (not Bright Nights); basically, if you're rolling with mod packs, you're should be on experimental and latest releases, and this modpack is specifically for Bright Nights fork.

Also, don't forget you should make changes into your font config according

[2021-01-28 05:40] Kenan2000 commented on #15
@fire78 just published an update that removes the `Graphical_Overmap` mods from the Bright Nights Modpack, the latest Bright Nights releases are always prepackaged with ready to use Graphical Overmap mods and are all maintained by Bright Nights main developer - Coolcthulhu/BroadFlatNails, so no need for us to maintain these

Now, if you enable the versions of `Graphical_Overmap` that are prepackag

[2021-01-28 05:40] #15 closed

[2021-01-28 19:59] fire78 commented on #15
i figured it out already forgot to post on here i asked for help on the cdda discord thanks for the help anyway

[2021-02-07 02:33] Proxiehunter opened #18 "Lesser mana potions (Magiclysm mod) stocked in grocery stores"
Is this intended behavior? Not sure those are supposed to be something pre-cataclysm folks could just pop down to Walmart for.

[2021-02-07 04:39] Kenan2000 commented on #18
@Proxiehunter Yes, this is intended, I'm not the creator of the mod, I'm just a maintainer of it, never touched the item groups or the spawns in first place, the lines that you are mentioning in the JSON item groups file are these, you won't mind if I close the issue now? :-) ```{
    "type": "item_group",
    "id": "displays",
    "items": [
      [ "mana_potion_lesser", 50 ],
      [ "magi_staff

[2021-02-10 16:09] #18 closed

[2021-03-13 03:03] c67f opened #19 "Early-Game Mutations mod scenario doesn't work"
Using either of the scenarios from the Early-Game Mutations mod doesn't work. It says "unable to generate a valid starting location BMC first floor [cs_bod_mod_clinic_z1 in a radius of 3 overmaps." (ground floor also does the same thing). I've tried it on a world with largely default world generation settings (I think the only things different are monster resilience and speed, and item generation)

[2021-03-14 07:06] Kenan2000 commented on #19
@c67f I've fixed it in the latest update, check it out and see if it works now :-)

[2021-03-14 07:06] #19 closed

[2021-03-15 00:05] c67f commented on #19
It mostly works, although I picked "bmc first floor" and it spawned me on the roof of the building next to the bmc, instead of actually in the bmc.

[2021-03-16 03:23] c67f opened #20 "Overrun scenario not working"
I just had the same issue as I had before, but with the Overrun scenario (no such building found within 3 overmaps).

[2021-03-18 06:11] SomeDeadGuy opened #21 "Имена модов приведи к общему знаменателю."
CDDA моды у тебя в одной папке лежат, а в BN в другой.
Пример
Дда Vermilion_Mod
Бн VermilionMod-master

Мне в тайлсете папки с модовыми тайлсетами приходится дублировать из-за этого.

[2021-03-19 07:50] Unrepentant-Atheist opened #22 "Pneumatic fun: Alloy-coated pebble recipe"
The alloy-coated pebble from pneumatic fun, pebble_mk4, has only 40 pebbles, to make 40 alloy coated pebbles. Bit OP for mk4 pebbles that decimate everything.

https://i.imgur.com/9Ied9Sx.png

[2021-03-19 19:41] Kenan2000 commented on #22
Updated and properly balanced for both Modpacks in the latest update :-)

[2021-03-19 19:41] #22 closed

[2021-03-19 19:42] Kenan2000 commented on #20
@c67f I've searched for overrun scenario in the mod files of the Modpack and cannot finding any building or location alterations or changes, should we close this issue or you might as well find some clues to help out solving this?

[2021-03-19 19:44] Kenan2000 commented on #21
В новейших обновлениях все исправлено и теперь используется один общий формат названия для папок, еще добавил твои тайлы к некоторым модам во всех Модпаках, которых там раньше не было. Еще проверь, пожалуйста, удали старые названия папок, замени их новейшими

[2021-03-20 02:01] c67f commented on #20
Huh-testing it a little more, it looks like worked when I picked Lab technician as the profession, but not when I pick Bionic Sniper. Not sure about the other professions.

[2021-03-20 08:53] SomeDeadGuy commented on #21
Косяки остались ещё.
![image](https://user-images.githubusercontent.com/37592026/111864483-35fd4580-8972-11eb-96d7-1fd16ff02db6.png)
![image](https://user-images.githubusercontent.com/37592026/111864490-3dbcea00-8972-11eb-8195-eef24c93bfc6.png)
![image](https://user-images.githubusercontent.com/37592026/111864504-4d3c3300-8972-11eb-92f1-96e386470c5b.png)
![image](https://user-images.githubusercont

[2021-03-20 18:48] Kenan2000 commented on #21
Исправлено, во всех Модпаках один и тот же формат названия папок, теперь можешь вытащить меня из блока в дискорде, пожалуйста?

[2021-03-20 19:02] SomeDeadGuy commented on #21
Окей.

[2021-03-20 21:53] SomeDeadGuy commented on #21
Ещё нашёл
WHALEYS_TALL_BUILDINGS
WHALEYS TALL BUILDINGS

ты забыл
Wild_Living
WildLiving

[2021-03-20 23:31] Kenan2000 commented on #21
Теперь и это поправлено тоже

[2021-03-21 09:32] Unrepentant-Atheist opened #23 "Blazemod: Gray mass vehicle durability value"
Lots of them have 37000 as durability, is this intended??

[2021-03-21 14:33] Kenan2000 commented on #20
No idea how to fix this currently, we'll need a bit more details, it seems

[2021-03-21 14:33] #20 closed

[2021-03-21 22:59] Unrepentant-Atheist opened #24 "Trading values of mod items"
Some mods have unrealisticly high trading values of items: Like wicker shield from More_Makeshift_Stuff or Wooden Shield, easy to craft, high value. Makes trading...pointless.

[2021-03-22 03:08] Kenan2000 commented on #23
@Unrepentant-Atheist Could you please explain, what exactly is the problem with blob vehicle parts having 37000 durability?Is it just the gray mass or other ones as well?If you find this value too high, can it be balanced?I definitely was not the one who assigned it there, it was there initially, it’s been done like this on purpose by the original deveoper, it seems

[2021-03-22 03:10] Kenan2000 commented on #24
@Unrepentant-Atheist I'm not the original creator of these mods, I'm not too savvy in terms of balancing the content that I'm only maintaining to work in a stable manner on latest release versions, could you suggest the updated values of these items and maybe change them and publish a pull request?

[2021-03-22 04:22] #21 closed

[2021-03-22 14:49] Unrepentant-Atheist commented on #24
Can do, gotta think what appropriate values are.

[2021-03-22 22:34] Kenan2000 commented on #23
Can you tell me the name of the JSON file which contains these values so I can look into it and change it possibly?

[2021-03-23 06:06] Unrepentant-Atheist commented on #23
blaze_blob_parts.json

[2021-03-23 07:30] Kenan2000 commented on #23
I'm not seeing anything wrong with it, the first type's frame durability is 250, of the second - 500 and of the third - 1000, makes sense, maybe you think that these values are too high in first place?

[2021-03-25 07:54] Unrepentant-Atheist commented on #23
[code]

[2021-03-25 20:03] Kenan2000 commented on #23
I've found it, the problem is not with blazemod but with M_Blazemod_Extension, it's a different small blazemod extension mod basically, I think I'm gonna delete this mod from the Modpack considering that it's neither present in my CDDA Modpack nor I'm accustomed to it and I don't possess enough information regarding it, so feel free to maintain and tweak it if you want

[2021-03-26 06:25] Unrepentant-Atheist commented on #23
Nah, don't delete it. Just tweak the values. I think something like 1500 would suffice.

[2021-03-27 14:44] Kenan2000 commented on #23
Merged your PR, now I believe that the issue can be closed, thanks to your work, of course

[2021-03-27 14:44] #23 closed

[2021-04-14 22:09] CV514 opened #29 "Secronom Artificial Flesh Core fuel issue"
`ERROR : src/item_factory.cpp:1450 [const itype* Item_factory::find_template(const itype_id&) const] Missing item definition: secro_flesh_fuel`
add: this error pops out the moment you try to examine CBM in question.

I've looked into the files and it seems like CBM with ID `bio_secro_fv_core` instructed to use `secro_flesh_fuel` as a fuel source, but apparently this is not an defined item but rath

[2021-04-15 05:56] Kenan2000 commented on #24
Will close this for now until you PR me the updated values which you find balanced to some extent

[2021-04-15 05:56] #24 closed

[2021-04-15 06:38] Kenan2000 commented on #16
This has been fixed a while ago too

[2021-04-15 06:38] #16 closed

[2021-04-15 07:05] CV514 commented on #29
Ah, I've come to see that this has been fixed in 70956ee4a38e17a3d1491fa8ad7245b28c4942fd, thanks!

About what I've been missing and what's not so intuitive:
1. I've rebinded 'E' hotkey from 'Eat' to 'Consume Item Menu'
2. Now, if I try to consume things trough that menu, it says there is no suitable consumables in the inventory
3. _Binding separate key to 'Eat' menu solves the mystery about how t

[2021-04-15 07:05] #29 closed

[2021-04-15 08:12] CV514 opened #30 "Flamesword is required for MMA but not present in BN at the moment"
[code]

Now, there is a thing that holds me from PR right away: either it could be easily fixed by removing `"flamesword"` from

https://github.com/Kenan2000/Bright-Nights-Kenan-Mod-Pack/blob/master/Kenan-BrightNights-Modpack/MMA_Mods_Extension/mma_magiclysm_extension.json

OR this little and non-critical error could be left as it is and wait for BN to catch up since [kelvinist.json](https://githu

[2021-04-16 09:57] Unrepentant-Atheist opened #31 "Dropping Compound Greatbow (high) changes it to Compund Bow (high)"
From the mod Make_Bows_Great_Again , when you shift+a and tighten the limbs on a Compound Great bow it changes to Compound Greatbow (high), when you then drop that Compound Greatbow (high) it'll change to Compund Bow (high), an entirely different bow altogether.

[2021-04-16 10:15] CV514 commented on #31
I've looked into that and it seems to be working as intended, there just a little issue with name strings (but via id it's actually an correct bow)

Section in question:

[code]

`"str": "compound bow (high)"` should be `"str": "compound greatbow (high)"` because there is indeed a completely different bow with `"id": "compbow_high"` and those bows should not share same name.

Will do a PR, for now

[2021-04-23 08:13] CV514 opened #33 "Secronom and BL9 dependency errors"
After recent update https://github.com/Kenan2000/Bright-Nights-Kenan-Mod-Pack/commit/6bf8e8a1ccf484d252dda0d78abf26f710efb02d there are several errors that should be looked into.

`<14:02:33.320 ERROR : src/generic_factory.h:457 [int_id<T> generic_factory<T>::convert(const string_id<T>&, const int_id<T>&) const [with T = furn_t]] invalid furniture id "f_console">`
Caused by: `f_console` being defi

[2021-04-23 10:36] Kenan2000 commented on #33
@CV514 Nice, thank you for this, fixed this in the latest update here both for 0_E3 Modpack version and Bright Nights Modpack as well https://github.com/Kenan2000/Bright-Nights-Kenan-Mod-Pack/commit/67732f017d702ca6f95bd528301c095b59e124f5, here

[2021-04-23 10:36] #33 closed

[2021-05-04 09:57] CV514 opened #35 "PKs Rebalancing .410 ammo issues"
There are no recipes for .410 shots, you can't craft or disassembly them despite they are simpler version of regular 12 gauge stuff.
But more than that, all of the .410 ammo in this mod defines it's own .410 empty casing there is already defined ammo of that type in the base game, `410shot.json`

Mod files are defining more types of that caliber, so before adding recipes mentioned above it would b

[2021-05-04 10:38] Kenan2000 commented on #35
Will you be able to work on this addition yourself when you have some time?Currently, I'm juggling all kinds of stuff in terms of other mods, some updates and content additions that I'd like not to reveal right now so working on polishing or adding content to other existing mods in the Modpacks is not really in my priorities with regards to mods right now, hopefully, you can understand me in this

[2021-05-04 10:42] CV514 commented on #35
Sure thing! I'll leave that open to not forget things I've just mentioned.

By the way, PR of mine is in semi-finished state for now and can be merged, if you please.

[2021-05-09 00:15] #35 closed

[2021-05-09 00:47] CV514 commented on #35
Closed as of https://github.com/Kenan2000/Bright-Nights-Kenan-Mod-Pack/pull/34 merge
Thanks! (and sorry for my formatting mess)

[2021-06-28 17:56] DrPariah opened #46 "Secronom Reverting Intake Changes - Cattle/Other Creatures Not Remaining Tamed"
ISSUE: Cattle in the base game (and mod added creatures that take Cattle Fodder to tame) normally take one Cattle Fodder to tame. You can thereafter interact with the tamed animal at will (Play with it, armor it, milk a cow, etc.). Something in Secronom is causing this to break. Cows are a good 'core' example, as they are not remaining tamed once the initial Cattle Fodder has been applied.

NOTE:

[2021-06-28 20:43] Kenan2000 commented on #46
Well, this is weird, are you sure that you're spawning a mon_cow, not mon_sflesh_cow which shares same name as mon_cow aka a regular cow yet their ids are different, these are two separate monsters? This is honestly weird because Secronom is not in any of it's JSON files altering existing vanilla monsters or mammals including cows, it has spells which technically kill regular cow, summoning a fles

[2021-06-28 20:56] DrPariah commented on #46
100% positive. Flesh Cows are bright red, and they have an ID in the Debug menu of something like 497 or so. I've been spawning regular Cows to test. Also, if you load up Dinomod and spawn a Triceratops (which can be tamed with Cattle Fodder) you get the same thing happening. It's weird, and I'm right there with you - I can't figure out why this mod, particularly, would cause it to break. I've tes

[2021-06-29 16:46] DrPariah commented on #46
Tested adding "EATS_CROP" as special attack: did not work. Cows still won't stay tamed.
Deleted Flesh Cow & Flesh Calf from record: did not work. Apparently the presence or absence of Flesh Cows doesn't impact regular cows.
I'm looking at the mod itself, and I'm not seeing anything that affects item placement, or fodder, or whatnot. I'm going to ask on the original intake referenced above as to ho

[2021-07-01 02:07] DrPariah commented on #46
Found it, now have to figure out how to fix it. The effect below overwrites the effect ID 'pet', which is normally permanent. I'm a bit confused as to how or why the option to tame a Secronom Dragon is there, simply because there's no route to tame it nor is it hackable.

Bright-Nights-Kenan-Mod-Pack/Kenan-BrightNights-Modpack/secronom/Modification Files/Monsters/-Essentials/secro_effects.json

`

[2021-07-01 15:34] DrPariah commented on #46
OK, pull submitted. Can close this one out. Yay, go team me!

[2021-07-01 15:34] #46 closed

[2021-07-08 17:59] Valikdu opened #49 "Overheating causes you to starve to death"
I'm not sure if this is an issue in vanilla BN, its default mods or in the modpack.

I've added an issue over there as well: https://github.com/cataclysmbnteam/Cataclysm-BN/issues/650

Basically, if you're under the effects of Very Hot! (hampered, warm, hot) your hunger meter will drop by hundrers of Kcal per step until you drop dead from starvation.

My full list of mods is:

[
Dark Days Ahead [d

[2021-07-08 18:15] DrPariah commented on #49
I've noticed this as well. Stand next to a bonfire, get to Very Hot, try to step away, watch your caloric intake drop to negatives faster than a politician's approval rating.

[2021-07-08 18:20] Valikdu commented on #49
I think it's the effect overrride in PK's Rebalance mod. It adds "hunger_max: [1]" to the hot effect. I removed it and the calory drop rate seems to have subsided

[2021-07-08 18:45] chaosvolt commented on #49
There's no `hunger_tic` on the effect, I assume? If there isn't, then it'd be incrementing hunger by 1 every second. For reference, default hunger rate is 1 every 5 minutes. I assume this was a holdover from back when turns were 6 seconds but even then that'd be some wacky hunger gain.

It's also possible that the stomach mechanics in DDA maybe made the problems caused by that system less noticeab

[2021-07-08 18:47] Valikdu commented on #49
Yeah, it's the only string about hunger.

[2021-07-10 22:23] Valikdu opened #50 "Issues with Tolerate This! and Sewing Machine"
Tolerate This!: it's supposed to add gluten-free food recipes for characters with an allergy, but, as it seems, it just duplicates food recipes and makes a mess out of your crafting menu.
Proposition: Maybe it should just go.

Sewing Machine: is supposed to add variants of clothing recipes for use with a sewing machine, which would work faster, but there's no actual sewing machine. So, there's jus

[2021-07-10 22:45] DrPariah commented on #50
There is a sewing machine in the mod, it's not furniture but an item that spawns and has a sewing of 3. It really should be Sewing 4, illogical that a sewing machine should be less capable than a Tailor's Kit.
Setting aside 'cheating' arguments (its a single player game, just don't use the elements you don't want to), it'd make more sense to have a sewing machine be deployable furniture. Give it a

[2021-07-11 02:51] Proxiehunter opened #51 "Blazemod giving error message and then crash to main menu when trying to start the game"
The error message in question:

 DEBUG    : Error: Json error: data/mods/blazemod/blaze_construct.json:4:10: Duplicate construction id

  {
    "type": "construction",
    "id":
         ^
          "constr_blaze_blob_pit",
    "category": "OTHER",
    "description": "Harvest Blob Feed from Corpse Pit: Smash to Harvest",

 FUNCTION : bool main_menu::new_character_tab()
 FILE     : src/main_menu.cp

[2021-07-13 23:34] #49 closed

[2021-07-13 23:34] #51 closed

[2021-09-01 18:41] DrPariah opened #55 "Secronom generating error for monster group"
DEBUG    : monster group GROUP_VEINSTALK_CRAWLER has unknown default monster mon_sflesh_veinstalk_crawly

 FUNCTION : static void MonsterGroupManager::check_group_definitions()
 FILE     : src/mongroup.cpp
 LINE     : 423
 VERSION  : BN 28b5d23

 Running both Secronom and the Lore Expansion mod for it. Appears to be an invalid monster ID for the crawly veinstalk, as this is one of two errors. Have

[2021-09-02 06:22] #50 closed

[2021-09-02 17:52] Kenan2000 commented on #55
@DrPariah Nice find, fixed this in latest updates :-)

[2021-09-03 19:21] #55 closed

[2021-10-01 12:47] qrrk opened #57 "Blazemod recipe errors & circular dependencies"
Please see my [debug.log](https://github.com/Kenan2000/Bright-Nights-Kenan-Mod-Pack/files/7267184/debug.log)

[2021-10-02 22:59] Ignaramico commented on #57
<details>
 DEBUG    : Recipe vehicle_shelving defines invalid result.

 FUNCTION : recipe_dictionary::finalize_internal(std::map<string_id<recipe>, recipe>&)::<lambda(const recipe&)>
 FILE     : src/recipe_dictionary.cpp
 LINE     : 371
 VERSION  : BN 94734f5

 DEBUG    : Recipe afs_metal_rig defines invalid result.

 FUNCTION : recipe_dictionary::finalize_internal(std::map<string_id<recipe>, reci

[2021-10-12 12:47] #57 closed

[2021-11-24 20:06] KoRv117 opened #69 "Syntax Error in Vamp_Stuff_Arcana mod"
![Syntax Error](https://user-images.githubusercontent.com/56089860/143306421-f94e0202-2379-4acb-9475-db20cad1dca4.png)

I get this message when im trying to load the game, not sure if its the mod itself or if its caused by another mod? Ill add the mod list just to be safe.

[
  "dda",
  "Arcana",
  "magiclysm",
  "Cata++",
  "no_npc_food",
  "Medieval_Mod_Reborn",
  "DracoDogMod",
  "necromancy",

[2021-11-25 21:23] CV514 commented on #69
This happens because `u_spend_cash` is not used in NPC trades anymore as of recently https://github.com/cataclysmbnteam/Cataclysm-BN/pull/842

This may be "robust-fixed" by removing said effect from this file, but in general should be looked into and considering more balanced alternatives.

[2021-12-10 20:52] Kenan2000 commented on #69
Hopefully these errors are fixed in latest updates as well

[2021-12-10 20:52] #69 closed

[2022-01-07 22:00] Relgar opened #74 "Drunken Master in Wandering Masters uses Russian text"
He's the only one who has that - this should be changed to English and the normal translation mechanism used instead (Transifex?)

[2022-01-10 05:59] CV514 commented on #74
Indeed, and it seems like it's been like that since the beginning, which can be viewed in previous forks: https://github.com/CurtV5/Bright-Nights-Kenan-Mod-Pack/blob/666b699662dc7ab246c3c38e827a95ac8e6cf9f1/Kenan-BrightNights-Modpack/Wandering_Masters-bright-nights/npc/Teachers/drunken_master.json

I'll do a PR to change those lines into English and provide proper lang files for Russian translatio

[2022-01-13 15:28] Roet718 opened #76 "Targeted Mutations crash (Full Nightvision serum)"
Noticed that the night vision and infrared vision serums were having no effect in my game. So I made a test world with only Targeted mutations in it and got a crash every time I tried to inject those serums.

[2022-01-14 00:41] Kenan2000 commented on #74
This is hopefully fixed thanks to @CV514's work as well

[2022-01-14 00:41] #74 closed

[2022-01-14 01:58] CV514 commented on #76
I've tested BN+Targeted Mutations, all night vision related mutations are working correctly. Infrared serum must be injected several times on "regular" character to produce IR effect, and it will be passive, while night vision must be activated manually in the mutations menu.

But nothing is crashing, so can't reproduce.

Please provide crash error text (use `debug.log` inside 'config' folder) and

[2022-01-14 18:13] Roet718 commented on #76
In my main game, i tried spawning in 20 of the serums and taking them all, but nothing happened, there was no text output or anything. just got pain and thirst from it.
But in the test world I made, I am no longer able to replicate the crash. So I have no idea.  Im ok to close this unless you have any ideas.

[2022-01-14 18:18] CV514 commented on #76
If you still got your problematic save file, you can toss it here, I'll look into it.

[2022-01-14 18:37] Roet718 commented on #76
[#Um9ldA==.zip](https://github.com/Kenan2000/BrightNights-Structured-Kenan-Modpack/files/7872490/Um9ldA.zip)

Alright, thanks. At first, I thought it could be the paragon of veil threshold from Arcana. but I removed all traces of that from the save files, and infrared vision is not a threshold mutation anyway. Also, all other TagMu serums seem to work just fine.

[2022-01-14 18:47] CV514 commented on #76
Ah, forgot to mention - you should pack not just char save, but world as well since all the mods info, world cells and relevant log files are tied together. Just pack the whole `worldname` folder to be sure.

[2022-01-14 18:56] Roet718 commented on #76
Alright trying that but it just says "is not included in the list" it's 55Mb is that too big for it ?

[2022-01-14 19:04] CV514 commented on #76
It would seem so, world data is taking some space indeed. You can toss it via cloud service of your choice.

[2022-01-14 19:09] Roet718 commented on #76
Yeah ive been playing in it for quite some time. ok here it is. https://drive.google.com/file/d/11YGsIwYrN7DWmP7zfPTSF_6PqwwV9EPU/view?usp=sharing

[2022-01-14 20:08] CV514 commented on #76
Alright, your character have telescopic eyes installed. This is actually fully replacing them eyes with machinery, rendering all beneficial mutations non-valid and canceling any existing ones. This is base game balance question and here is open discussion about it: https://github.com/cataclysmbnteam/Cataclysm-BN/issues/1190

Outside of this scope, everything seems to be working fine.

[2022-01-14 20:10] Roet718 commented on #76
Omg. Thanks so much. I was poring over the save file trying to find any leftover threshold information, I never would have figured that out.

[2022-01-14 20:23] CV514 commented on #76
To test that you can simply use Bionic Operator from Aftershock and Targeted Mutations mod in new world and new save, nothing else.
If you want to edit your character, I think we don't have the meanings to debug uninstall bionics right now. There is debug bionics installation mutation available, but this is for installation only, right from inventory.

You can edit your save file, find then remove

[2022-01-14 20:38] Roet718 commented on #76
Alright, that did it! infrared vision mutation is working on the character now! thanks so much. I'll close this.

[2022-01-14 20:38] #76 closed

[2022-02-08 18:44] Spodershibe opened #77 "From the Secronom mod, the "secro_power_armor_mechlink" spell ID is invalid"
This appears to be connected to the flesh vessel mech, which is a part of the Secronom Project - Experimental scenario. Here is what appears in the log
https://pastebin.com/2GZvt1Qm

[2022-02-08 19:11] Spodershibe opened #78 "Salvaged_Robots json file missing comma"
very simple fix, go into the Salvaged_Robots/robot_additions/overmap_special.json and add a comma to the end of line 13

[2022-02-08 19:14] Kenan2000 commented on #77
@Spodershibe Hopefully fixed in this update as well

[2022-02-08 19:16] Kenan2000 commented on #78
@Spodershibe Hopefully fixed in this update as well

[2022-02-08 19:16] #78 closed

[2022-02-08 19:16] Kenan2000 commented on #77
@Spodershibe Hopefully fixed in this update as well

[2022-02-08 19:16] #77 closed

[2022-02-09 17:02] Spodershibe opened #79 "PK's Rebalancing Mod breaks Overrun scenario"
The military warehouse that you spawn in is unable to generate, and after enabling and disabling mods, this is the one causing the issue
https://pastebin.com/KAYMUVhw

[2022-02-10 03:04] Kenan2000 commented on #79
@Spodershibe Can you trace exactly what causes this via deleting files from mod then checking? Generated debug log does not provide actually comprehensible information, either delete scenarios, professions or start locations one by one to see what part of mod causes this issue so that we can try to find it, fix it hopefully as well

[2022-02-10 16:14] Spodershibe commented on #79
After further testing it seems to be somewhat (but not entirely) sporadic and contributed to by several other mods. It is probably contributed to by multiple mods in this pack, but this doesn't help with a solution

[2022-02-10 16:18] Spodershibe opened #80 "Oa's Additional Buildings Mod does not stay in active mods list"
When I add Oa's Additional Buildings Mod to a worlds mod list, and then I load up a character on that world, the next time I look at the mods list, Oa's Additional Buildings Mod has automatically disabled itself. Nothing appears in the logs for this, I don't know how to be more helpful than this for this issue.

[2022-02-10 17:05] Spodershibe opened #81 "Duplicate Entry in Real Dark Skies Above"
Error: Json error: data/mods/Real_Dark_Skies_Above/overmap/racing_tower_mapgen.json:287:17: duplicate entry in json object

liquids": { "T": { "liquid": "water_sewage", "amount": [ 1, 25 ] }, "t": { "liquid": "water_sewage", "amount": [ 2, 5 ] } },
      "furniture": { "V": "f_vending_o", "T": "f_standing_tank", "Y": "f_washer", "y": "f_dryer" },
      "terrain":
                ^

[2022-02-10 21:06] #81 closed

[2022-02-10 21:07] Kenan2000 commented on #79
Then I will close this issue for now until you find more details about it, it's too vague to fix like this as well

[2022-02-10 21:07] #79 closed

[2022-02-11 03:48] Spodershibe opened #82 "Many new Real Dark Skies Above issues"
The main mod has been updated to fix whatever issue this is

[2022-02-11 05:17] Spodershibe opened #83 "Game freezing error in Metro mod (Tried to set invalid ammo)"
Tried to set invalid ammo sgs5_b[40] for metro_lolifebigmag
22:16:02.308 ERROR DEBUGMSG : src/item.cpp:605 [item& item::ammo_set(const itype_id&, int)] Tried to set invalid ammo sgs5_b[40] for metro_lolifebigmag
22:16:03.092 ERROR DEBUGMSG : src/item.cpp:605 [item& item::ammo_set(const itype_id&, int)] Tried to set invalid ammo sgs5_b[40] for metro_lolifebigmag
22:16:03.639 ERROR DEBUGMSG : src/it

[2022-02-12 06:18] Kenan2000 commented on #82
@Spodershibe Have these issues been fixed? Can you clarify?

[2022-02-12 06:44] Kenan2000 commented on #83
@Spodershibe Hopefully fixed in this update as well

[2022-02-12 06:44] #83 closed

[2022-02-12 09:57] Spodershibe commented on #82
Yes, the main Real Dark Skies above mod had some kind of major bug in it and the author updated it to solve it

[2022-02-12 14:34] #82 closed

[2022-02-12 15:26] Spodershibe opened #85 "Invalid effect type id controlled"
invalid effect type id controlled
08:24:46.727 ERROR DEBUGMSG : src/effect.cpp:53 [const T& string_id<T>::obj() const [with T = effect_type]] invalid effect type id controlled
08:24:47.351 ERROR DEBUGMSG : src/effect.cpp:53 [const T& string_id<T>::obj() const [with T = effect_type]] invalid effect type id controlled
08:24:49.829 ERROR DEBUGMSG : src/effect.cpp:53 [const T& string_id<T>::obj() cons

[2022-02-13 17:02] Spodershibe opened #87 "Game breaking error "item_location lost its target item during a save/load cycle""
I don't know what is causing this, other than the fact that it has occurred for me when I try to place items anywhere, sometimes, seems to happen more frequently with more items in the space

item_location lost its target item during a save/load cycle
09:58:59.887 ERROR DEBUGMSG : src/activity_item_handling.cpp:578 [bool pickup::try_rebuild_if_needed(item_location&)] Lost target item of ACT_DROP a

[2022-02-13 21:50] Spodershibe opened #88 "Quest error"
At the Barter Tower location, this error is spammed a lot
 map::unboard_vehicle: vehicle not found
14:34:35.453 ERROR DEBUGMSG : src/map.cpp:1076 [void map::unboard_vehicle(const tripoint&, bool)] map::unboard_vehicle: vehicle not found

[2022-02-14 10:10] Spodershibe opened #89 "invalid item group 'guns_shotgun_ww2', om_terrain = 'museum_north' (museum)"
place_items: invalid item group 'guns_shotgun_ww2', om_terrain = 'museum_north' (museum)
03:10:14.188 ERROR DEBUGMSG : src/mapgen.cpp:5531 [std::vector<item*> map::place_items(const item_group_id&, int, const tripoint&, const tripoint&, bool, const time_point&, int, int)] place_items: invalid item group 'ammo_shotgun_ww2', om_terrain = 'museum_north' (museum)

This occurs only sometimes when gener

[2022-02-15 12:36] Kenan2000 commented on #80
@Spodershibe Hopefully fixed in this update as well

[2022-02-15 12:36] #80 closed

[2022-02-15 12:36] Kenan2000 commented on #85
@Spodershibe Hopefully fixed in this update as well

[2022-02-15 12:36] #85 closed

[2022-02-15 12:37] Kenan2000 commented on #87
@Spodershibe This is from one of builds, a source code issue, not related to mods as well

[2022-02-15 12:37] #87 closed

[2022-02-15 12:37] Kenan2000 commented on #89
@Spodershibe Hopefully fixed in this update as well

[2022-02-15 12:37] #89 closed

[2022-03-25 05:38] fg094 opened #92 "Perhaps consider adding a mod Guide"
It would be nice if the readme contained a brief explanation of each mod and what it contained as some are rather vague (for example if a mod says it adds fictional/sci-fi guns does it mean that it adds its own made up guns or guns from halo?) As well as some recommendations on what mods play nicer together then others. For example aftershock doesn't seem to play well with with world gen (creating

[2022-03-25 15:15] Kenan2000 commented on #92
Honestly considering that my work in terms of maintaining mods is purely technical, it's a lot of work, also huge amount of mods that I try to prioritize maintaining, so I don't have any additional motivation to work on guides especially because some people don't even like to read it at all. I suggest you to make these guides in a form of text files, post them here or maybe via making a pull reque

[2022-03-25 15:16] Kenan2000 commented on #92
Honestly considering that my work in terms of maintaining mods is purely technical, it's a lot of work, also huge amount of mods that I try to prioritize maintaining, so I don't have any additional motivation to work on guides especially because some people don't even like to read it at all. I suggest you to make these guides in a form of text files, post them here or maybe via making a pull reque

[2022-04-04 10:42] CV514 commented on #92
@fg094

While creating new world and setting up mod list, pressing `v` will bring up mod description. It's taken from respective `modinfo.json`, in `"description"` line. For example of somewhat extensive description and how it can be done, look at Kenan's BL9 [modinfo](https://github.com/Kenan2000/BrightNights-Structured-Kenan-Modpack/blob/master/Kenan-BrightNights-Structured-Modpack/High-Maintena

[2022-04-23 21:53] budgetcommander opened #99 "Contacting mod authours"
Is there any way for me to contact a mod authour? I'd like to make some description touchups for Advanced Technology, but I want them to approved by the mod authour themselves.

[2022-04-24 21:16] Kenan2000 commented on #99
@budgetcommander One of Advanced Technologies authors is MechMaster, you can contact him on our Bright Nights server https://discord.gg/anfcTzyA, here as well

[2022-04-24 21:16] #99 closed

[2022-06-29 20:18] Valikdu opened #104 "Civilianpowerarmor - missing comma"
power_armor.json, Line 58:
"flags": [ "POWERARMOR_EXO"**>HERE<** "WATERPROOF", "STURDY", "ELECTRIC_IMMUNE" ]

[2022-07-02 03:00] Kenan2000 commented on #104
@Valikdu Hopefully fixed in this update as well

[2022-07-02 03:00] #104 closed

[2022-07-03 03:38] Nitsua1230 opened #105 "Missing item definition in Magiclysm Revamp"
Armor_spirit in technomancer.json isn't defined
![Screenshot (12)](https://user-images.githubusercontent.com/63229009/177023503-157a863d-abd2-48ce-afe7-d5b6b7ba51b3.png)

[2022-07-06 17:36] #105 closed

[2022-07-06 23:37] T3hBoy opened #106 "Errors or mod conflicts?"
Hello, I downloaded the modpack and for testing sake I enabled around most of the mods, so far these are the (non-documented) errors

![01](https://user-images.githubusercontent.com/108841169/177659896-853f647b-4a25-4094-acd0-b9cd2c4a6d91.png)
![02](https://user-images.githubusercontent.com/108841169/177659897-284a4cea-469f-4065-a9c1-5d370eba4333.png)
![03](https://user-images.githubusercontent.co

[2022-07-06 23:42] T3hBoy opened #107 "Secronom_lore error"
Hello, me again, sorry for the back-to-back inconvenience but I ran a separate test with vanilla secronom and the lore expansion, ran into this issue when finalizing the world generation. Not sure if it has to do with the recent build or not
![recent issue](https://user-images.githubusercontent.com/108841169/177660578-978471c4-30fd-439d-adf7-69f80f98b22f.png)

Once again, my apologies for the inco

[2022-07-06 23:46] Nitsua1230 commented on #107
I can confirm this issue. Looks like the last update push deleted most of the npc classes. Downloading the previous version of the pack and replacing secro_npc.json gets that to procede for me.

[2022-07-07 16:37] #106 closed

[2022-07-07 16:38] Kenan2000 commented on #107
@T3hBoy @Nitsua1230 Hopefully fixed in this update as well

[2022-07-07 16:38] #107 closed

[2022-07-07 17:45] T3hBoy commented on #106
Tested the recent release with lore expansion, the errors I posted are fixed, sadly some new ones popped up. I'll be making a new post about said errors. Many thanks for doing a service to the fanbase and fixing issues so quickly

[2022-07-07 17:47] T3hBoy opened #108 "Errors #2"
The multitude of errors from my previous post have been fixed, however some new ones appeared
![01](https://user-images.githubusercontent.com/108841169/177837072-d0503e08-8c28-4d8b-a83c-2cb65509e6f1.png)
![02](https://user-images.githubusercontent.com/108841169/177837077-f3f02630-f0bc-4c64-9781-c68d83e28620.png)
![03](https://user-images.githubusercontent.com/108841169/177837078-9ea01240-fcc0-4e22

[2022-07-08 21:37] T3hBoy commented on #108
@Kenan2000
"I've fixed all of these except for error from your third picture because it is a mainlined mod issue, this item does not exist in any of mods in my Bright Nights Modpack"
I see, guess I'll have to report said issue on the BN page unless they already know about it and it's on their to-do list, anyway the loadout I've been using has no more issues(aside MMA but the description already sa

[2022-07-10 16:56] rhyphix opened #112 "Magiclysm revamp addition"
Seem to be having a problem trying to get this mod to run along side magiclysm.

I get this as a debug log when trying to run it, a bunch of invalid attack effects; should I go back to a previous version to run this mod?

12:48:13.889 ERROR DEBUGMSG : src/magic.cpp:258 [void spell_type::load(const JsonObject&, const string&)] ERROR: spell acid_bite has invalid effect attack
12:48:14.263 ERROR DEBU

[2022-07-11 03:21] Kenan2000 commented on #112
@rhyphix All of these spells that are specified in debug log that you've posted are from CDDA MagicRevampAdditions version, they don't exist in Bright Nights MagicRevampAdditions version. Have you downloaded mods for Bright Nights from this link, not my CDDA Modpack, right? If you want to download mods that I maintain for Bright Nights, you need to download them from this link, Bright Nights Modpa

[2022-07-11 03:21] #112 closed

[2022-07-11 15:04] rhyphix commented on #112
Sorry it seems I must have done that by mistake,  I think initially installed everything from the cdda pack, then installed the bright night version and must have encountered those incompatibilities, reinstalling everything from the bright night version pack fixed these issues.

[2022-07-15 23:26] Ker-Nes opened #113 "[Wild Living] Taking a Cutting from a fruit tree don't actually generate cutting to pot"
Bug:
Using the construction menu to take a cutting of a fruit tree (and the tree doesn't seem to recover, although I haven't quite been able to test that one out properly) doesn't seem to actually generate the cutting that is necessary to pot it and eventually plant.

Expected behavior:
The action to generate a cutting item.

Bug tested with in the following circunstances:
- OS: Windows
    - OS V

[2022-07-16 00:48] #88 closed

[2022-07-16 00:48] Kenan2000 commented on #113
@Ker-Nes Hopefully fixed in this update as well

[2022-07-16 00:48] #113 closed

[2022-07-16 00:48] Kenan2000 opened #114 "Test"
Test

[2022-07-16 00:48] #114 closed

[2022-07-16 04:32] Nitsua1230 opened #115 "Errors in Project Apex"
A couple of errors pointing towards euler os items
![Screenshot (41)](https://user-images.githubusercontent.com/63229009/179339428-d23396f8-f185-4b30-8725-dfa60bd5698f.png)
![Screenshot (42)](https://user-images.githubusercontent.com/63229009/179339430-908f93ef-7db6-428a-9db6-0eea395f0430.png)
![Screenshot (44)](https://user-images.githubusercontent.com/63229009/179339431-706800d7-7292-449f-aa31-e

[2022-07-18 20:58] Ker-Nes opened #116 "[wild living] Minor Recipe Inconsistency between potting trees"
The recipe for potting the apple tree is not in line with the rest. For reference:
![image](https://user-images.githubusercontent.com/37450179/179615865-d868d0d1-66b5-4558-80c9-dd520ece5353.png)
![image](https://user-images.githubusercontent.com/37450179/179615863-98d664d6-b77f-4a16-85ae-cf58b1c61164.png)
All other potted tree recipes are essentially identical to the pear recipe (save for the actu

[2022-07-21 23:36] T3hBoy opened #117 "Issue regarding the latest release - PK Rebalancing"
![01](https://user-images.githubusercontent.com/108841169/180332064-2fbd0699-9ba3-4c54-af88-4894058e3ebe.png)

[2022-07-24 02:29] Ker-Nes opened #118 "[More Makeshift Stuff] Makeshift Canoes and Rafts folding into bicycles."
Makeshift canoes and makeshift rafts are created as items that can then be unfolded into the vehicles in question. When interacting with them the option to "fold" them back up is available.
![image](https://user-images.githubusercontent.com/37450179/180629610-ae0d8d93-5ef5-48e5-bcb3-b5733df6c292.png)
But doing so, folds them into being a folding bicycle.
![image](https://user-images.githubusercont

[2022-07-25 17:50] Kenan2000 commented on #115
@Nitsua1230 Hopefully fixed in this update as well

[2022-07-25 17:50] #115 closed

[2022-07-25 17:50] Kenan2000 commented on #116
@Ker-Nes Hopefully fixed in this update as well

[2022-07-25 17:50] #116 closed

[2022-07-25 17:50] Kenan2000 commented on #117
@T3hBoy Hopefully fixed in this update as well

[2022-07-25 17:50] #117 closed

[2022-07-25 20:39] T3hBoy commented on #117
All good, thanks

[2022-08-05 19:22] T3hBoy opened #120 "Issue in latest release"
This one crashes the game
![01](https://user-images.githubusercontent.com/108841169/183146710-b7b59b71-4175-47a7-9437-ac4f88abf8df.png)
These ones not but it's weird they give errors now
![02](https://user-images.githubusercontent.com/108841169/183146714-d887d639-70a2-45ff-91c4-1ea99d3d34e6.png)
![03](https://user-images.githubusercontent.com/108841169/183146716-6b1554b9-073e-41fa-b0fd-07132c809c8

[2022-08-05 23:08] Kenan2000 commented on #120
@T3hBoy I've fixed all of them, other errors that you have are actually from Chaosvolt's mods, they are not from mods in my Bright Nights Modpack hopefully as well

[2022-08-05 23:08] #120 closed

[2022-08-06 00:01] T3hBoy commented on #120
![aaa](https://user-images.githubusercontent.com/108841169/183224995-b8f0de11-3ed6-4bc3-bf59-fc29d813e181.png)
Sorry but the error persists, not sure what's causing it

[2022-08-23 20:56] Usokitsuki opened #122 "[Reapermod_Shinigami] Shinigami Song martial art missing "melee_allowed": true tags"
When wielding scythe (any scythe that is listed as a Shinigami Song compatible weapon) with sufficient melee skills neither static buffs, nor melee techniques are triggering due to missing `"melee_allowed": true` field, as seen by missing static buffs in the character menu when wielding the weapon.

![image](https://user-images.githubusercontent.com/52477933/186259951-6aa05f6d-01a3-43c2-aaf0-56833

[2022-08-31 17:59] Kenan2000 commented on #122
@Usokitsuki Hopefully fixed in this update as well

[2022-08-31 17:59] #122 closed

[2022-08-31 17:59] Kenan2000 commented on #118
@Ker-Nes This is vanilla game issue essentially

[2022-08-31 17:59] #118 closed

[2022-09-06 03:39] Usokitsuki opened #123 "[Vermillion_mod] Augmented Swordplay martial art techniques missing "melee_allowed": true tags"
As the issue name suggests. While martial art buffs in the actual ver_martialarts.json properly have the tags and function, none of the techniques in the ver_techniques.json do, rendering them unusable. Adding the tag solves the issue.

Due to similarity with #122 , it is entirely possible there are more mods adding martial arts and corresponding techniques that are missing the tags.

[2022-09-07 19:46] Kenan2000 commented on #123
@Usokitsuki Hopefully fixed in this update as well

[2022-09-07 19:46] #123 closed

[2022-09-09 12:12] AquiloSpiritus opened #125 "Suggestions for the development of the AdvancedGear mod"
The main drawback of the mod is the extremely cheap, ultimate melee weapon.

I propose to introduce two levels of melee weapons:
Level 1: Weapon made from inactive nanites. Current recipe, but reduced stats. Normal volume (because this weapon cannot be stacked), same weight. The DPS of the sword is slightly higher than that of the broadsword, the knife has a higher RM42 fighting knives. But lower

[2022-09-16 01:38] Nephelos opened #127 "CDDA-BN-Biosynthetic-Robot-Mod crash"
Firing at robots from the mod with the hypervelocity drive at close range causes a ctd. No error message or anything.

- OS: Windows
    - OS Version: 10.0 2009
- Game Version: 937decd [64-bit]
- Graphics Version: Tiles
- Game Language:  []
- Mods loaded: [
    Bright Nights [dda],
    Disable NPC Needs [no_npc_food],
    <color_light_blue>BL9-100%-monster-resilience-version</color> [BL9_100monres

[2022-09-16 19:52] Kenan2000 commented on #127
@Nephelos It's a very weird game issue that needs more details in order to fix this mod, can you test other guns on monsters from this mod? Can you test multiple monsters from this mod? Is it because of gun that you use against them in your opinion or is it because of monsters themselves? What exactly needs fixing here, can you clarify hopefully?

[2022-09-16 23:15] Nephelos commented on #127
Every other weapon i used on them was fine. I think its the shrapnel mechanic since the hypervelocity drive is mounted on my armored death truck and if they are like inside a 10-15 tile radius and shoot them it ctds the game.

[2022-09-29 17:35] #31 closed

[2022-09-29 17:42] Kenan2000 commented on #125
@AquiloSpiritus I like your idea, if you believe that you can do JSON additions yourself, go ahead, if that's too much work for you, I will try to work on this when I can hopefully

[2022-11-01 09:19] Megadeadly opened #131 "Mutant Animals Mod doesn't give appropriate faction flags to its creatures."
I hope this is the right place to put this issue...

I was messing around with a natural spawned Direwolf, as it's description said a whelp could be tamed, and "forced" it to have a baby via map editing its baby timer to 1. Upon doing so, leaving, waiting, and coming back (Via tele), it did indeed make a direwolf whelp, and then, immediately killed it. After spawning in other direwolves, direwolf

[2022-11-07 04:14] Kenan2000 commented on #131
Hmm, all monsters definitions have copy-from in them, which means that they should copy all factions parameters correctly, still, I have added factions definitions to all abstract monsters definitions based on what you say, that because of abstract monster definitions not having directly defined factions parameters, monsters that copy from abstract don't have factions also, this fixes it, if not,

[2022-11-07 04:14] #131 closed

[2022-11-07 07:03] Megadeadly commented on #131
I spawned them in, no infighting, looks like what you did worked! Thanks for doing this man, I appreciate it.

[2022-11-07 19:30] Kenan2000 commented on #131
No problem

[2022-11-24 12:01] Relgar opened #137 "Advanced Gear - cannot progress to next tier of nanite construction tool"
In the Advanced Gear mod, you supposedly upgrade your nanite construction tool by building a Nanofactory (3d printer) as the next level, which takes a significant amount of nanotech power cells. However, to build these power cells, which are suggested to be from plutonium, you need feedstocks of various kinds, plutonium, and then _the upgraded nanite construction tools which you're trying to build

[2022-11-24 18:16] Kenan2000 commented on #137
Hmm, accessible nanite tool that can easily craft nanite power cells to make more advanced types of nanite tools that requires no crafting is experimental nanite assembler, it can be found in science, teleport item groups which are labs spawns mostly, I have increased spawn chance of it in science item group from 2 to 25, I have also increased spawn chance of it in teleport item group from 5 to 45

[2022-11-24 18:16] #137 closed